<!-- Navbar - Carson --> 

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> <i class="fa-solid fa-ticket"></i> Assignment Tracker </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <% if(title=="Home") { %>
              <a class="nav-link active" href="/">
            <% } else {%>
              <a class="nav-link" href="/">
            <% } %>  
            <i class="fa-solid fa-house"></i> Home </a>
          </li>
          <li class="nav-item">
            <% if(title=="List") { %>
              <a class="nav-link active" href="/tickets">
            <% } else {%>
              <a class="nav-link" href="/tickets">
            <% } %>  
            <i class="fa-solid fa-ticket"></i> View Active Assignments </a>
          </li>
          <li class="nav-item">
            <% if(title=="Add") { %>
              <a class="nav-link active" href="/add">
            <% } else {%>
              <a class="nav-link" href="/add">  
            <% } %>       
            <i class="fa-regular fa-square-plus"></i>Add New Assignment</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>