<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<div id = "wrapper">
<section id = "large">
<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><i class="fa-regular fa-square-plus"></i> Add New Assignment</h1>
            <form class="form" method="POST" action="/assignments/add">
                <div class="form-group">
                    <label for="nameTextField">Assignment Title</label>
                    <input type="text" class="form-control" id="nameTextField" placeholder="Enter Title" name="name" required>
                </div>
                <div class="form-group">
                    <label for="classTextField">Class</label>
                    <input type="text" class="form-control" id="classTextField" placeholder="Enter Class name" name="class" required>
                </div>
                <div class="form-group">
                    <label for="dateField">Due Date</label>
                    <input type="date" class="form-control" id="dateField" name="duedate" required>
                </div>
                <div class="form-group">
                    <label for="descriptionTextArea">Description</label>
                    <textarea class="form-control" id="descriptionTextArea" placeholder="Enter the Description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="compNumberField">Estimated completion time(h)</label>
                    <input type="number" class="form-control" id="compNumberField" placeholder="Enter number(hours)" name="estTimeToComplete" required>
                </div>
                <button class="btn btn-success" type="submit"> Add Assignment <i class="fas fa-plus-circle"></i></button>  
                <a href="/assignments" class="btn btn-danger"> Cancel <i class="fa-solid fa-xmark"></i></a>    
            </form>
        </div>
    </div>
</div>
</section>
</div>
<%- include ../partials/footer.ejs %>
